.container {
	width: 90vw;
	margin: 0 auto;
	padding-top: 140px;
}

.title {
	margin-bottom: 120px;
}

.description_wrapper {
	width: 90vw;
	margin: 0 auto;
	margin-top: 130px;
	display: flex;
	justify-content: center;
}

.description {
	width: 500px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1440px) {
	.container {
		padding-top: 120px;
	}

	.title {
		margin-bottom: 80px;
	}

	.description_wrapper {
		margin-top: 110px;
	}

	.description {
		width: 450px;
	}
}

@media screen and (max-width: 1024px) {
	.title {
		margin-bottom: 60px;
	}

	.description {
		width: 400px;
	}
}

@media screen and (max-width: 744px) {
	.container {
		padding-top: 40px;
	}

	.title {
		margin-bottom: 40px;
	}

	.description_wrapper {
		margin-top: 40px;
	}

	.description {
		width: 280px;
	}
}
