@import '/src/styles/variables';

.loaderWrapper {
  height: 100dvh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $base-background-color;
  background-image: url(../../../public/images/texture.png);
  z-index: 110;
}

.loader {
  display: inline-block;
  position: relative;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgb(91, 49, 192, 0.2) 33%, #5b31c0 100%);
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: $base-background-color;
  background-image: url(../../../public/images/texture.png);
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
