.container {
	margin-top: 265px;
	margin-bottom: 200px;
	display: grid;
	justify-content: center;
}

.title {
	margin-top: 10px;
}

.description_container {
	margin-top: 70px;
	display: flex;
	gap: 85px;
	justify-self: center;
	align-items: center;
}

.donation_wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}

.slogan {
	margin-top: 10px;
	margin-bottom: 15px;
}

@media screen and (max-width: 1440px) {
	.container {
		margin-top: 310px;
		margin-bottom: 230px;
	}

	.description_container {
		gap: 75px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		margin-top: 200px;
		margin-bottom: 55px;
	}

	.description_container {
		gap: 67px;
	}

	.playTgLink svg {
		width: 160px;
	}
}

@media screen and (max-width: 414px) {
	.container {
		margin-top: 160px;
		margin-bottom: 30px;
	}

	.description_container {
		margin-top: 25px;
		flex-direction: column;
		gap: 30px;
	}

	.subtitle {
		text-align: center;
	}
}
