.container {
	margin-top: 265px;
	margin-bottom: 200px;
	display: grid;
	justify-content: center;
}

.title_wrapper {
	justify-self: center;
}

.title {
	margin-top: 10px;
}

.description_container {
	margin-top: 70px;
	margin-bottom: 120px;
	display: flex;
	gap: 85px;
	justify-self: center;
	align-items: center;
}

.donation_wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}

.slogan {
	margin-top: 10px;
	margin-bottom: 15px;
}

.ellipse {
	margin: 0 44px;
}

@media screen and (max-width: 1440px) {
	.container {
		margin-top: 310px;
		margin-bottom: 230px;
	}

	.description_container {
		margin-bottom: 100px;
		gap: 75px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		margin-top: 200px;
		margin-bottom: 55px;
	}

	.description_container {
		margin-bottom: 90px;
		gap: 67px;
	}

	.title {
		text-align: left;
	}

	.playTgLink svg {
		width: 160px;
	}
}

@media screen and (max-width: 550px) {
	.container {
		width: 85vw;
		margin: 0 auto;
		margin-top: 160px;
		margin-bottom: 30px;
	}

	.description_container {
		margin-top: 25px;
		flex-direction: column;
		gap: 30px;
	}

	.subtitle,
	.title {
		text-align: center;
	}

	.title {
		font-size: 32px;
	}

	.slogan,
	.slogan_bold {
		display: none;
	}
}
