@import '/src/styles/variables';

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(56, 55, 82, 0.4);
  backdrop-filter: blur(7.5px);
}

.wrapper {
  width: $base-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.live {
  margin-left: 20px;
}

.title {
  margin-left: 90px;
}

.artist {
  margin-left: 77px;
}

@media screen and (max-width: $tablet-query) {
  .live {
    margin-left: 15px;
  }

  .title {
    margin-left: 20px;
  }

  .artist {
    margin-left: 60px;
  }
}
