.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 60px;
	padding: 100px 0;
	background: url(../../../../public/ocapella_back.png);
}

.button {
	margin-top: 30px;
}
