.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  //margin-bottom: 60px;
  padding: 100px 0;
  background: url(../../../public/ocapella_back.png) center no-repeat;
}

.button {
  margin-top: 30px;
}

.showPodcast {
  display: block;
}

.hidePodcast {
  display: none;
}

@media screen and (max-width: 1440px) {
  .container {
    //margin-bottom: 50px;
    padding: 65px 0;
  }

  .button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    //margin-bottom: 40px;
    padding: 60px 0;
  }

  .button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 744px) {
  .description {
    width: 90vw;
    text-align: center;
  }
  .button {
    margin-top: 10px;
  }
}
