.about {
	background: url(../../../../public/texture.png),
		linear-gradient(
			0deg,
			#000 0%,
			rgba(0, 0, 0, 0.5) 42.19%,
			rgba(0, 0, 0, 0.1) 69.27%,
			rgba(0, 0, 0, 0) 100%
		),
		url(../../../../public/over-graffit-artist.png) right bottom no-repeat;
}

.container {
	box-sizing: content-box;
	width: 90vw;
	height: 1070px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 45% 1fr;
	gap: 140px;
	padding: 170px 0 100px 0;
}

.container_text {
	align-self: end;
}

.img_wrapper {
	position: relative;

	img {
		object-fit: contain;
		object-position: left bottom;
		//width: 90% !important;
	}
}

.title_wrapper {
	margin-bottom: 60px;
}

/*.title {
	font-family: var(--micraDi), sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 2px;
}*/

.title:nth-child(2) {
	padding-left: 390px;
}

.title:nth-child(3) {
	padding-left: 145px;
}

.description_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.description {
	font-family: var(--cocomat), sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
}

.link {
	position: relative;
	display: inline-block;
	text-transform: uppercase;

	span {
		position: relative;
		z-index: 1000;
	}

	&::before {
		content: '';

		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 11px;
		background: #9337d4;
	}
}

@media screen and (max-width: 1600px) {
	.container {
		gap: 100px;
	}

	.title:nth-child(2) {
		padding-left: 80px;
	}

	.title:nth-child(3) {
		padding-left: 40px;
	}
	.description_wrapper {
		grid-template-columns: 1fr;
	}
}
