.content {
  position: relative;
  height: auto;
  width: 100vw;
  background: image-set(
      url(../../../public/images/texture.webp) type('image/webp'),
      url(../../../public/images/texture.png) type('image/png')
    ),
    linear-gradient(
      0deg,
      #000 0%,
      rgba(0, 0, 0, 0.5) 42.19%,
      rgba(0, 0, 0, 0.1) 69.27%,
      rgba(0, 0, 0, 0) 100%
    );
  overflow: hidden;
}

.layer {
  position: absolute;
}

.background {
  transform: translateX(0);
  width: 120% !important;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .background {
    display: none;
  }
}
