@import '/src/styles/variables';

.wrapper {
  background-image: url('../../../public/images/podcast_back3.png'),
    url(../../../public/images/texture.png);
  background-repeat: no-repeat;
}

.container {
  width: 90vw;
  //height: calc(100vh - 110px);
  margin-top: 110px;
  margin-bottom: 160px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50vw;
  height: 100%;
}

.title {
  margin-top: 120px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-width: $laptop-query) {
  .title {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: $tablet-query) {
}

@media screen and (max-width: $mobile-query) {
  .wrapper {
    flex-direction: column;
    gap: 60px;
  }

  .container {
    width: 85vw;
    margin-bottom: 110px;
  }

  .subContainer {
    width: 85vw;
  }

  .title {
    margin-top: 120px;
    margin-bottom: 75px;
  }
}
