@import 'react-h5-audio-player/src/styles.scss';
@import './typography.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: #fff;
	background: #000;
	font-family: var(--micraDi);
	background-color: black;
	background-image: url(../../public/texture.png);

	scrollbar-width: thin;
	scrollbar-color: #5b31c0 #0a0a0a;
}

body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(100deg, #9337d4 2.28%, #5b31c0 91.54%);
	border-radius: 5px;
}

body::-webkit-scrollbar-track {
	background-color: #0a0a0a;
	border: 1px solid #0a0a0a;
}

body::-webkit-scrollbar-button {
	background-color: #5b31c0;
	border-radius: 5px;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 24px;
	height: 20px;
	top: 30px;
	right: 20px;
}

.bm-burger-button button {
	top: -15px !important;
	right: -10px !important;
	padding: 30px !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	width: 20px !important;
	height: 20px !important;
	top: 30px !important;
	right: 20px !important;
}

.bm-cross-button button {
	top: -15px !important;
	right: -10px !important;
	padding: 30px !important;
}

/* Color/shape of close button cross 
.bm-cross {
	
}
*/
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100%;
	top: 0px;
}

/* General sidebar styles */
.bm-menu {
	background: url('../../public/texture.png'), #000;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #fff;
	padding: 0.8em;
	display: grid;
	align-items: center;
	text-align: center;
	padding-bottom: 30px;
}

/* Individual item */

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 900px) {
	.bm-burger-button,
	.bm-overlay {
		display: none;
	}
}

// audio player
.rhap_container {
	min-height: 80px;
	background-color: inherit;
	box-shadow: none;
	padding: 0px;
}

.rhap_main {
	gap: 40px;
}

.rhap_controls-section {
	flex: 0;
}

.rhap_progress-container {
	margin-right: 0;
	width: 100%;
	align-self: flex-end;
}

.rhap_progress-section {
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
}

.rhap_progress-bar {
	height: 2px;
	width: 100%;
	border-radius: 2px;
	align-self: flex-end;
	background-color: #fff;
}

.rhap_horizontal-reverse .rhap_controls-section {
	margin-right: 0px;
}

.rhap_play-pause-button {
	font-size: 72px;
	width: 72px;
	height: 72px;
}

.rhap_time {
	font-family: var(--cocomat), sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	color: #fff;
	opacity: 0.5;
}

.rhap_current-time {
	display: none;
}

/*.rhap_total-time {
	position: relative;
	top: 20px;
}*/

@media screen and (max-width: 1440px) {
	.rhap_main {
		gap: 30px;
	}

	.rhap_progress-section {
		gap: 15px;
	}

	.rhap_play-pause-button {
		font-size: 60px;
		width: 60px;
		height: 60px;
	}

	.rhap_container svg {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 1024px) {
	.rhap_container {
		min-height: 70px;
	}

	.rhap_main {
		gap: 20px;
	}

	.rhap_progress-section {
		gap: 10px;
	}

	.rhap_play-pause-button {
		font-size: 45px;
		width: 45px;
		height: 45px;
	}

	.rhap_container svg {
		width: 45px;
		height: 45px;
	}
}

.radio {
	width: auto;

	.rhap_progress-section {
		display: none;
	}

	.rhap_horizontal .rhap_controls-section {
		margin-left: 0px;
	}

	.rhap_main-controls-button {
		margin-left: 0px;
	}

	.rhap_play-pause-button {
		font-size: 46px;
		width: 46px;
		height: 46px;
	}

	.rhap_play-pause-button svg {
		width: 46px;
		height: 46px;
	}
}

// slider 

.swiper-slide-active {
	opacity: 1 !important;
}

swiper-slide {
	opacity: 0.2;
}

.custom-navigation {
	position: relative;
	top: 0px;
}

.custom-next,
.custom-prev {
	position: absolute;
	top: 0px;
	padding-bottom: 15px;
	z-index: 10;
	cursor: pointer;
}

.custom-next {
	right: calc(50% - 160px);
	padding-left: 15px;
}

.custom-prev {
	left: calc(50% - 160px);
	padding-right: 15px;
}

@media screen and (max-width: 1024px) {
	.custom-next {
		right: calc(50% - 130px);
	}

	.custom-prev {
		left: calc(50% - 130px);
	}
}

@media screen and (max-width: 500px) {
	.custom-next {
		right: 0;
	}

	.custom-prev {
		left: 0;
	}
}
