@import 'variables';

.swiper-slide-active {
  opacity: 1 !important;
}

swiper-slide {
  opacity: 0.2;
}

.custom-navigation {
  position: relative;
  top: 0px;
}

.custom-next,
.custom-prev {
  position: absolute;
  top: 0px;
  padding-bottom: 15px;
  z-index: 10;
  cursor: pointer;
}

.custom-next {
  right: calc(50% - 160px);
  padding-left: 15px;
}

.custom-prev {
  left: calc(50% - 160px);
  padding-right: 15px;
}

@media screen and (max-width: $tablet-query) {
  .custom-next {
    right: calc(50% - 130px);
  }

  .custom-prev {
    left: calc(50% - 130px);
  }
}

@media screen and (max-width: 500px) {
  .custom-next {
    right: 0;
  }

  .custom-prev {
    left: 0;
  }
}
