.container {
	width: 90vw;
	margin: 0 auto;
}

.wrapper {
	width: 35%;
}

.title {
	margin-bottom: 50px;
}

.description {
	margin-bottom: 30px;
}

.link {
	font-family: var(--cocomat), sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 140%;
	text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
	.title {
		margin-bottom: 40px;
	}

	.description {
		margin-bottom: 15px;
	}
}
