@import '/src/styles/variables';

.textColor {
  font-family: var(--cocomat), sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  background: $accent-gradient-color;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textWhite {
  font-family: var(--cocomat), sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

@media screen and (max-width: $laptop-query) {
  .textColor,
  .textWhite {
    font-size: 20px;
  }
}

@media screen and (max-width: $tablet-query) {
  .textColor,
  .textWhite {
    font-size: 18px;
  }
}

@media screen and (max-width: $mobile-query) {
  .textColor,
  .textWhite {
    font-size: 15px;
  }
}
