@import '/src/styles/variables';

.splideArrows {
  position: relative;
  top: 0px;
}

.splideArrow {
  position: absolute;
  top: 0px;
  padding-bottom: 15px;
  z-index: 10;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.splideArrowNext {
  right: calc(50% - 160px);
  padding-left: 15px;
}

.splideArrowPrev {
  left: calc(50% - 160px);
  padding-right: 15px;
}

@media screen and (max-width: $tablet-query) {
  .splideArrowNext {
    right: calc(50% - 130px);
  }

  .splideArrowPrev {
    left: calc(50% - 130px);
  }
}

@media screen and (max-width: 500px) {
  .splideArrowNext {
    right: 0;
  }

  .splideArrowPrev {
    left: 0;
  }
}
