.welcome {
  position: relative;
  width: 100%;
  height: fit-content;

  .video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  .container {
    position: relative;
    padding-top: 265px;
    padding-bottom: 200px;
    display: grid;
    justify-content: center;
    z-index: 1;
  }

  .title_wrapper {
    justify-self: center;
  }

  .title {
    margin-top: 10px;
  }

  .description_container {
    margin-top: 70px;
    margin-bottom: 120px;
    display: flex;
    gap: 85px;
    justify-self: center;
    align-items: center;
  }

  .donation_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .slogan {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .ellipse {
    margin: 0 44px;
  }
}

@media screen and (max-width: 1440px) {
  .welcome {
    .container {
      //padding-top: 310px;
      padding-top: 200px;
      padding-bottom: 230px;
    }

    .description_container {
      margin-bottom: 100px;
      gap: 75px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .welcome {
    .container {
      padding-top: 200px;
      padding-bottom: 55px;
    }

    .description_container {
      margin-bottom: 90px;
      gap: 67px;
    }

    .title {
      text-align: left;
    }

    .playTgLink {
      width: 160px;
    }
  }
}

@media screen and (max-width: 550px) {
  .welcome {
    .container {
      //width: 85vw;
      //margin: 0 auto;
      padding-top: 160px;
      padding-bottom: 30px;
    }

    .description_container {
      margin-top: 25px;
      flex-direction: column;
      gap: 30px;
    }

    .subtitle,
    .title {
      text-align: center;
    }

    .title {
      font-size: 32px;
    }

    .slogan,
    .slogan_bold {
      display: none;
    }
  }
}

.about {
  background:
    url(../../public/texture.png),
    linear-gradient(
      0deg,
      #000 0%,
      rgba(0, 0, 0, 0.5) 42.19%,
      rgba(0, 0, 0, 0.1) 69.27%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../../public/over-graffit-artist.png) right bottom no-repeat;

  .container {
    box-sizing: content-box;
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 140px;
    padding: 170px 0 100px 0;
  }

  .container_text {
    align-self: end;
  }

  .img_wrapper {
    position: relative;

    img {
      object-fit: contain;
      object-position: left bottom;
    }
  }

  .img_laptop {
    display: none;
  }

  .title_wrapper {
    margin-bottom: 60px;
  }

  .title:nth-child(2) {
    padding-left: 390px;
  }

  .title:nth-child(3) {
    padding-left: 145px;
  }

  .description_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media screen and (max-width: 1600px) {
  .about {
    .container {
      gap: 100px;
    }

    .title_wrapper {
      margin-bottom: 40px;
    }

    .title:nth-child(2) {
      padding-left: 80px;
    }

    .title:nth-child(3) {
      padding-left: 40px;
    }

    .description_wrapper {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .about {
    background:
      url(../../public/texture.png),
      linear-gradient(
        0deg,
        #000 0%,
        rgba(0, 0, 0, 0.5) 42.19%,
        rgba(0, 0, 0, 0.1) 69.27%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../public/over-graffit-artist.png) center no-repeat;

    .container {
      padding: 130px 0 0 0;
    }

    .img {
      display: none;
    }

    .img_laptop {
      display: block;
    }
  }
}

@media screen and (max-width: 1366px) {
  .about {
    background: url(../../public/over-graffit-artist-laptop.png) right top no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    .container {
      padding: 110px 0 0 0;
      gap: 30px;
    }

    .title_wrapper {
      margin-bottom: 30px;
    }

    .description_wrapper {
      gap: 23px;
    }
  }
}

@media screen and (max-width: 650px) {
  .about {
    .container {
      width: 85vw;
      padding: 75px 0 0 0;
      grid-template-columns: 1fr;
    }

    .title_wrapper {
      margin-bottom: 25px;
    }

    .description_wrapper {
      gap: 20px;
    }

    .img_laptop {
      display: none;
    }
  }
}

.invitation {
  background: url(../../public/stars.png);

  .container {
    width: 50vw;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: 40px;
    text-align: center;
  }

  .text {
    width: 550px;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 1440px) {
  .invitation {
    .container {
      padding-top: 100px;
      padding-bottom: 120px;
    }

    .text {
      width: 500px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .invitation {
    .container {
      width: 70vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  .invitation {
    .container {
      padding-top: 80px;
      padding-bottom: 100px;
    }

    .title {
      margin-bottom: 30px;
    }

    .text {
      width: 460px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .invitation {
    .container {
      width: 85vw;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 75px;
      align-items: flex-start;
    }

    .title {
      margin-bottom: 25px;
      text-align: left;
    }

    .text {
      width: auto;
      margin-bottom: 12px;
      text-align: left;
    }
  }
}
