@import '/src/styles/variables';

.card {
  display: grid;
  justify-content: center;
  gap: 12px;
  padding: 25px 0;
  border-bottom: 2px solid #9237d480;
  text-align: center;
}

@media screen and (max-width: $laptop-query) {
  .card {
    padding: 20px 0;
  }
}
