.container {
  /*width: 43vw;*/
  display: flex;
  //gap: 40px;
  cursor: pointer;

  position: relative;

  .card_info {
    //display: block;

    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in;
    transform: translate3d(10%, 0, 0);
  }
}

.container.cardClosed {
  width: 250px;
  .card_info {
    //display: none;

    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease-out;
    transform: none;
  }

  .img_wrapper {
    filter: grayscale(100%);
  }
  /*
	.img_wrapper {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	
	.card_img {
		clip-path: polygon(0 0, 65% 0, 65% 100%, 0% 100%);
	}
*/
}

.container:nth-child(3) {
  margin-top: 80px;
}

.card_info {
  max-width: 50%;
}

.card_title {
  margin: 30px 0 20px 0;
}

.card_description {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.img_wrapper {
  position: relative;
  width: 390px;
  height: 610px;
  transition: all 1s;
}

.container:hover {
  .img_wrapper {
    filter: grayscale(0%);
  }
}

.card_img {
  object-fit: cover;
}

@media screen and (max-width: 1650px) {
  .img_wrapper {
    width: 200px;
    height: 495px;
  }

  .container.cardClosed {
    width: auto;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    //gap: 20px;
  }

  .container {
    .card_info {
      transform: translate3d(5%, 0, 0);
    }
  }

  .card_info {
    max-width: 60%;
  }

  .card_title {
    margin: 20px 0 10px 0;
  }

  .card_description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .img_wrapper {
    width: 180px;
    height: 446px;
  }
}

@media screen and (max-width: 1170px) {
  .img_wrapper {
    width: 140px;
    height: 347px;
  }

  .card_info {
    max-width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .container.cardClosed {
    .card_info {
      position: static;
      visibility: visible;
      opacity: 1;
      transform: translate3d(5%, 0, 0);
    }
  }

  .container {
    //flex-direction: column;
    min-width: 120vw;
  }

  .container:nth-child(3) {
    margin-top: 0px;
  }

  .img_wrapper {
    min-width: 140px;
    height: 347px;
  }

  .card_info {
    max-width: 100%;
  }

  .container.cardClosed {
    .card_info {
      visibility: visible;
    }
  }
}

/*
@media screen and (max-width: 870px) {
	.img_wrapper {
		width: 85px;
		height: 252px;
	}

	.card_info {
		max-width: 65%;
	}
}
*/
