.planet_wrapper {
	background: url(../../../../public/texture.png),
		linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
		url(../../../../public/over-planet.png) center bottom no-repeat;
	background-size: cover;
	width: 100%;
}

.container {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	gap: 310px;
	align-items: end;
	padding-top: 50px;
}

.link_subscribe {
	justify-self: center;
	margin-bottom: 200px;
}

@media screen and (max-width: 1440px) {
	.container {
		padding-top: 40px;
		gap: 160px;
	}

	.link_subscribe {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		gap: 100px;
	}

	.link_subscribe {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 550px) {
	.planet_wrapper {
		background: url(../../../../public/texture.png),
			linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
			url(../../../../public/over-planet-mobile.png) center bottom no-repeat;
		background-size: contain;
	}

	.container {
		padding-top: 30px;
		gap: 80px;
	}
}
