.container {
	width: 90vw;
	margin: 0 auto;
	padding-top: 180px;
}

.cards_container {
	margin-top: 130px;
	display: flex;
	gap: 40px;
}

@media screen and (max-width: 1440px) {
	.container {
		padding-top: 120px;
	}

	.cards_container {
		margin-top: 80px;
		gap: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		padding-top: 100px;
	}

	.cards_container {
		margin-top: 60px;
		gap: 10px;
	}
}

@media screen and (max-width: 800px) {
	.container {
		padding-top: 75px;
	}

	.cards_container {
		//flex-direction: column;
		gap: 50px;

		overflow-x: scroll;
		overflow-y: hidden;
		scrollbar-width: none;
	}

	.cards_container::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
