@import '/src/styles/variables';

.link_container {
  margin-top: 47px;
  display: flex;
  justify-content: center;
}

.link_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: $laptop-query) {
  .link_container {
    margin-top: 30px;
  }
}
